body {
    font-family: "PingFang SC", "Microsoft YaHei", sans-serif !important;
}
blockquote {
    border-left: 2px solid #009A61;
    background: #F6F6F6;
    color: #555;
    font-size: 1em;
    padding: 10px 20px;
    margin: 1.5em 0;
}  

code {
    display: inline !important;
    padding: 0.3em !important;
}
pre code.hljs {
    display: block !important;
    padding: 0.5em !important;
}
img {
    max-width: 100%;
}
@media (max-width: 991px) {
    .home-sider, .icon-wrapper {
      display: none;
    }
}



.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active 在低于版本 2.1.8 中 */ {
    opacity: 0;
}
.slide-fade-enter-active {
    transition: all 0.5s cubic-bezier(0.6, 0.1, 0.2, .7);
}
.slide-fade-leave-active {
    transition: all 1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateY(-30px);
    opacity: 0;
}