body {
    font-family: "PingFang SC", "Microsoft YaHei", sans-serif !important;
}
blockquote {
    border-left: 2px solid #009A61;
    background: #F6F6F6;
    color: #555;
    font-size: 1em;
    padding: 10px 20px;
    margin: 1.5em 0;
}  
.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active 在低于版本 2.1.8 中 */ {
    opacity: 0;
}
code {
    display: inline !important;
    padding: 0.3em !important;
}
pre code.hljs {
    display: block !important;
    padding: 0.5em !important;
}
img {
    max-width: 100%;
}
@media (max-width: 767px) {
    .header-inner {
        width: auto !important;
        padding: 10px !important;
        line-height: 36px !important;
        .site-meta { 
            margin-left: 10px !important;
            .brand {
                .logo-line-before, .logo-line-after {
                    display: none !important;
                }
            }
            
        }
    }
    .site-nav {
        display: none;
    }
    .main-content, .main-footer {
        margin: 20px 20px;
        width: auto;
    }
    header {
        text-align: center;
        .page-title {
            font-size: 20px !important;
        }
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 14px;
    }
}
@media (max-width: 991px) {
    .home-sider, .icon-wrapper {
      display: none;
    }
}